@import "../../styles/colors";

.container {
    width: 100%;
    form {
        display: flex;
        flex-direction: row;
        height: 50px;

        input {
            border-top: 1px dotted;
            border-left: none;
            border-bottom: 1px dotted;
            border-right: none;
            outline: none;
            font-family: "Quicksand-VariableFont";
            width: 100%;
        }
    }
}

.btn_container {
    background: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.btn {
    width: 40px;
    height: 40px;
    background: $red;
    border: none;
    color: white;
    outline: none;
    border-color: white;
    border-style: dashed;
}
