@import "../../../styles/colors.scss";

.container {
    h1 {
        color: $blue;
        margin: 0px 0px 20px 0px;
        text-transform: uppercase;
        font-weight: 200;
    }
}

.container_list {
    padding: 10px 20px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px rgb(218, 215, 215);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: $blue;
    font-family: "Quicksand-VariableFont";
}

.box_image {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;

    img {
        width: 100%;
        height: auto;
    }
}

.box_desc {
    h4 {
        margin: 5px 0px;
    }
}

.fill {
    color: $orange;
}

.out_fill {
    color: gray;
}
