@import "../../../styles/colors.scss";

.categories {
  display: flex;
  border: 1px solid #e8e3e3;
  padding: 5%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: $blue;
  margin: 5% 0% 0%;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img {
      transition: all 0.5s;
      &:hover {
        filter: drop-shadow(2px 4px 6px rgb(126, 125, 125));
      }
    }
    h5 {
      a {
        color: $blue;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .categories {
    width: auto;
    flex-direction: column;
  }
}
