@import "../../../styles/colors.scss";

.relative__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.relative__products {
    display: flex;
    gap: 50px;
    margin: 50px 0;
}

.relative__title {
    color: $blue;
    text-transform: uppercase;
    font-family: "FrancoisOne-Regular";
    font-size: 24px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}
