@import "../../../styles/colors.scss";

.container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.slider {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.banner_1 {
  position: relative;
  color: white;
  display: flex;
  h1 {
    text-transform: uppercase;
  }
}

.banner_1_desc {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 15px;
  padding: 0% 0% 5% 5%;
}

.banner_1_btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.btn {
  width: 140px;
  height: 52px;
  background: white;
  border: none;
  text-transform: uppercase;
  font-family: "FrancoisOne-Regular";
  color: $blue;
  border: none;
  outline: none;
  border-color: $blue;
  border-style: dashed;
}

.banner_2_desc {
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    text-transform: uppercase;
  }
  h4 {
    color: gray;
    font-family: "Quicksand-VariableFont";
  }
}
