@import "../../../styles/colors.scss";

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    h1 {
        text-transform: uppercase;
        color: $blue;
    }
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 100px;
}

.footerImage {
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        filter: brightness(1.1);
    }
}
