.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.box {
  width: 1200px;
}

.mainBox {
  display: flex;
  flex-direction: column;
  main {
    height: 100vw;
    width: 80%;
  }
  aside {
    display: grid;
    gap: 30px;
    width: 20%;
  }
}
