@import "../../../../styles/colors.scss";

.relative__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.relative__products {
    display: flex;
    gap: 50px;
    margin: 20px 0;
}

.relative__title {
    font-size: 24px;
    color: $blue;
    font-weight: 500;
}

.banner_footer {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.productNotFound {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue;
}
