@font-face {
  font-family: "FrancoisOne-Regular";
  src: url("/recursos/common/Francois_One/FrancoisOne-Regular.ttf");
}
@font-face {
  font-family: "GildaDisplay-Regular";
  src: url("/recursos/common/Gilda_Display/GildaDisplay-Regular.ttf");
}
@font-face {
  font-family: "Quicksand-VariableFont";
  src: url("/recursos/common/Quicksand/Quicksand-VariableFont_wght.ttf");
}

@import "./colors.scss";

html,
body {
  font-family: "FrancoisOne-Regular";
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
  transition: all 0.5s;
  &:hover {
    color: $orange;
  }
}
