@import "../../../styles/colors.scss";

.title__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: 1px solid #f3efef;
    padding: 2% 0%;
    margin: 20px 0 50px 0;

    ul {
        display: flex;
        list-style: none;
        gap: 10px;
        padding: 0;
        font-family: "Quicksand", sans-serif;
        font-weight: 900;
        font-size: 16px;
        li {
            color: $blue;
            &:nth-last-child(1) {
                color: $orange;
            }
        }
    }
}

.product__title {
    color: $blue;
    font-family: "GildaDisplay-Regular";
    font-weight: 100;
    font-size: 38px;
}

.product__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.product__gallery {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 380px; //;

    div {
        cursor: pointer;
    }
}

.product__data {
    color: $blue;
    width: 53%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h4 {
        font-weight: 100;
    }

    p {
        font-family: "Quicksand", sans-serif;
        color: gray;
        line-height: 1.4;
        margin: 0;
    }
}

.product__info__table {
    border: 1px solid #e5e4e4;
    padding: 10px;

    table {
        width: 100%;
        height: auto;
        border-spacing: 15px 20px;
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid gray;

            &:nth-last-child(1) {
                border: none;
            }

            td {
                padding: 10px;
                &:nth-child(odd) {
                    width: 110px;
                }
                &:nth-child(even) {
                    color: gray;
                    font-family: "Quicksand", sans-serif;
                }
            }
        }
    }
}

.product_info_extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    ul {
        color: $blue;
        list-style: none;
        display: flex;
        gap: 50px;
        margin-bottom: 20px;
        font-size: 24px;
        padding: 0;
        align-items: baseline;
        justify-content: center;

        li {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    p {
        font-family: "Quicksand", sans-serif;
        color: gray;
        line-height: 1.4;
        margin: 0;
    }
}

.product_info {
    color: gray;
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
}

.form__container {
    margin: 0 0 80px;
    form {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    input {
        width: 70px;
        height: 50px;
        background-color: transparent;
        outline: none;
        border: 1px solid rgb(176, 174, 174);
        padding: 0 10px;
        font-size: 18px;
        font-family: "Quicksand", sans-serif;
    }
}

.btn {
    background-color: $red;
    outline: none;
    border: 0;
    span {
        width: 150px;
        height: 40px;
        color: white;
        background-color: $red;

        border-color: white;
        border-style: dashed;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-family: "Francois One", sans-serif;
    }
}

.active {
    span {
        background: url("/recursos/main/home-8.png") no-repeat;
        display: flex;
        width: 72px;
        height: 20px;
    }
}
